* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 30px;
  padding: 30px;
}

.Dimeji-layout {
  display: flex;
  padding: 100px 20px 40px 20px;
  justify-content: space-between;
  flex-direction: row;
}

.content {
  height: 497px;
  width: 40%;
  overflow: hidden;
  background-image: url(../Img/tunes.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.write-up {
  width: 60%;
}

.write-up h3 {
  text-align: center;
  position: relative;
  font-size: 30px;
  text-transform: capitalize;
  font-weight: normal;
  margin-bottom: 20px;
  width: 100%;
  height: 35px;
  right: 100px;
  bottom: 100px;
}

.write-up h3::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 67.5px;
  background-color: #d89616;
  margin-top: 5px;
}

.write-up p {
  font-size: 22px;
  margin: 18px 37px;
}

.too-much {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.contact-us {
  width: 55%;
  padding: 50px;
  border: 1px solid black;
  box-shadow: -1px 10px 5px -3px rgba(217, 207, 207, 0.75);
  -webkit-box-shadow: -1px 10px 5px -3px rgba(217, 207, 207, 0.75);
  -moz-box-shadow: -1px 10px 5px -3px rgba(217, 207, 207, 0.75);
  background-color: whitesmoke;
}

.contact-us h3 {
  font-size: 50px;
  font-weight: 500;
}

.container,
.button-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.container label {
  font-size: 16px;
  margin-bottom: 11px;
}

.container input,
.container textarea {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.button-container {
  justify-content: flex-end;
}
.button-container button {
  width: 217px;
  height: 40px;
  text-align: center;
  padding: 15px;
  background-color: #004de6c2;
  border: unset;
  border-radius: 5px;
  color: white;
  margin-left: auto;
}
